#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

ZMK_COMBO(minus,   &kp MINUS,       LT2 LM2,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(under,   &kp UNDER,       LT1 LM1,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(amps,    &kp AMPS,        LM1 LB1,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(hash,    &kp HASH,        LM2 LB2,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(grave,   &kp GRAVE,       RM1 RB1,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(bslh,    &kp BSLH,        RM2 RB2,     DEFAULT FUN, COMBO_TERM_FAST)

ZMK_COMBO(squote,  &kp SQT,         RT2 RM2,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(dquote,  &kp DQT,         RT1 RM1,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(equal,   &kp EQUAL,       RM0 RM1,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(pipe,    &kp PIPE,        RM3 RM4,     DEFAULT FUN, COMBO_TERM_FAST)

ZMK_COMBO(excl,    &kp EXCL,        LT3 LM3,     DEFAULT FUN, COMBO_TERM_FAST)
ZMK_COMBO(arob,    &kp AT,          LT3 LT2,     DEFAULT FUN, COMBO_TERM_FAST)

ZMK_COMBO(lbkt,    &kp LBKT,        LM4 LM3,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(lpar,    &kp LPAR,        LM3 LM2,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(rpar,    &kp RPAR,        LM2 LM1,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(rbkt,    &kp RBKT,        LM1 LM0,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(lbrc,    &kp LBRC,        LT2 LT1,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(rbrc,    &kp RBRC,        LT1 LT0,     DEFAULT FUN, COMBO_TERM_SLOW)

ZMK_COMBO(tild,    &kp TILDE,       RT1 RT2,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(percent, &kp PRCNT,       RT2 RT3,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(star,    &kp STAR,        RM1 RM2,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(plus,    &kp PLUS,        RM2 RM3,     DEFAULT FUN, COMBO_TERM_SLOW)

ZMK_COMBO(dllr,    &kp DLLR,        LM0 LB0,     DEFAULT FUN, COMBO_TERM_SLOW)
ZMK_COMBO(caret,   &kp CARET,       RT3 RM3,     DEFAULT FUN, COMBO_TERM_SLOW)

ZMK_BEHAVIOR(dot_eq, macro, bindings = <&kp COLON &kp EQUAL>; wait-ms = <0>; tap-ms = <5>;)
